.HomeBackground {
  width: 100vw;
  height: 100vh;
  background-size: cover;
}
.button {
  width: 100%;
  height: 50%;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-top: -3.5px;
  opacity: 1;
  background-color: #0aefff;
}
