.Navbar {
  background: #001524;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
}

.Navbar a {
  text-decoration: none;
  color: #ffffff;
  transition: all 0.5s ease;
}
.Navbar a.Navbar-active {
  color: #fff2b2;
}
