:root {
  background-color: black;
}
html {
  box-sizing: border-box;
}
.wrapper {
  /* display: grid; */
  /* grid-gap: 20px; */
  background-color: black;
}
body {
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
